/**
 * Copyright 2026 Hybrid Mount Developers
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.top-bar {
  flex-shrink: 0;
  color: var(--md-sys-color-on-surface);
  height: calc(64px + var(--top-inset));
  padding-top: var(--top-inset);
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  overflow: visible;
}
.top-bar-content {
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
}
.screen-title {
  flex-grow: 1;
  margin: 0;
  font-size: 22px;
  transform-origin: left bottom;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  white-space: nowrap;
}
.top-actions {
  display: flex;
  align-items: center;
  gap: 4px;
  z-index: 50;
}
md-icon svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
}
md-list {
  padding: 0;
  --md-list-container-color: transparent;
  border-radius: var(--md-sys-shape-corner-large);
  overflow: clip;
  gap: 2px;
}
md-list-item {
  background-color: var(--md-sys-color-surface-container);
  border-radius: 4px;
  transition: border-radius 0.3s ease;
}
md-list-item:active {
  border-radius: var(--md-sys-shape-corner-large);
}
md-list-item md-icon[slot="end"] {
  color: var(--md-sys-color-primary);
}
